.cgb-container {
  &__header {
    @apply flex items-center px-5 py-2 space-s-2 justify-between;

    &-left {
      @apply flex items-center;
    }

    &-icon {
      @apply text-base me-1.5;
    }

    &-title {
      @apply text-base font-light cursor-pointer;
    }

    &-remove-button {
      @apply text-xs underline cursor-pointer hover:text-secondary;
    }
  }

  &__header {
    &:not(.-active) {
      @apply border-b border-gray-400;
    }
  }

  &__review {
    @apply bg-gray-50 px-5 py-2;

    &-title, &-icon {
      @apply text-sm text-gray-850;
    }

    &-gift-note {
      @apply w-48 pe-4;
    }

    &-gift-note, &-change-button {
      @apply text-sm text-gray-850;
    }

    &-change-button {
      @apply underline cursor-pointer;
    }

    &-top {
      @apply mb-2;
    }

    &-top, &-bottom {
      @apply flex justify-between	items-center;
    }
  }

  &__content {
    @apply px-5;

    &-expandable {
      @apply border-none;

      &.pz-expandable {
        .title {
          @apply font-normal;
        }
      }
    }

    &-modal-action-button {
      @apply w-full text-base font-normal;
      @apply hover:bg-transparent #{!important};

      &.pz-button {
        &:not(.-link) {
          @apply px-0 justify-start;
        }
  
        .pz-button__icon {
          @apply text-base;
        }
  
        .pz-button__text {
          @apply text-base font-light;
        }
      }
    }

    .content {
      &-footer {
        &__counter {
          @apply text-xs w-full text-start mt-2;
        }

        &__controls {
          @apply flex justify-end items-end mt-2 space-s-2;

          &-remove-note-button {
            @apply text-xs underline cursor-pointer hover:text-secondary;
          }
        }
      }
    }

    .cgb-modal {
      .pz-modal-dialog {
        @apply w-[310px] p-5;

        &__content {
          @apply overflow-hidden;
        }
      }
    }
  }
}

.-valid-count {
  .cgb-input {
    textarea {
      @apply border-waterGreen-200;
    }
  }

  .cgb-content-footer {
    &__counter {
      @apply text-waterGreen-200;
    }
  }
}

.-invalid-count {
  .cgb-input {
    textarea {
      @apply border-secondary;
    }
  }

  .cgb-content-footer {
    &__counter {
      @apply text-secondary;
    }
  }
}